<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand ms-2">Products page</a>
  <div class="collapse navbar-collapse">
    <div class="navbar-nav">
      <a class="nav-link" href="cart">Cart</a>
    </div>
  </div>
</nav>

<div class="d-flex flex-row mb-3 align-items-center align-text-center">
  <div class="p-2">Sort products price from:</div>
  <div class="p-2">
    <select [(ngModel)]="sortOrder" class="form-select">
      <option value="asc">lowest to highest</option>
      <option value="desc">highest to lowest</option>
    </select>
  </div>
  <div class="p-2">Price slider:</div>
  <div class="p-2">
    <mat-slider min="0" max="100" discrete>
      <input [(ngModel)]="minPrice" value="{{minPrice}}" matSliderStartThumb>
      <input [(ngModel)]="maxPrice" value="{{maxPrice}}" matSliderEndThumb>
    </mat-slider>
  </div>
  <div class="p-2">
    <input class="form-control me-2" type="text" [(ngModel)]="searchText" placeholder="Search products">
  </div>
  <div class="p-2">
    <button (click)="applyFilters()" class="btn btn-outline-secondary">Apply filters</button>
  </div>
</div>

<div class="container">
  <div class="row">
    <div *ngFor="let product of filteredProducts" class="card col-md-4" style="width: 18rem; margin: 1rem;">
      <img class="card-img-top" src='{{ product.primaryMediaUrl }}' alt="" style="max-width: 200px; max-height: 200px;">
      <div class="card-body">
        <h2 class="card-title">{{ product.cardTitle }}</h2>
        <p class="text-truncate card-text">{{ product.cardDescription }}</p>
        <h3>{{ (product.listOfPlans[0].price.amount/100).toFixed(2) +" "+ product.listOfPlans[0].price.currency }}</h3>
        <p>Curently availabe: {{product.availableQuantity}}</p>
        <a href="product/{{ product.cardTitle }}">Details</a>
      </div>
    </div>
  </div>
</div>