<h1>Cart</h1>
<hr><br>
<div *ngFor="let product of products">
    <ul>
        <li class="cart-li">
            <img src='{{ product[0].primaryMediaUrl }}' style="max-width: 100px; max-height: 100px;">
        </li>
        <li class="cart-li">
            <h1>{{ product[0].cardTitle }}</h1>
        </li>
        <li class="cart-li">
            Quantity: <input type="number" [(ngModel)]="product[1].quantity" value="{{ product[1].quantity}}" max="{{ product[0].maxQuantityPerUser }}" min="1" (change)="qunatityChange(product)">
        </li>
        <li class="cart-li">
            <button (click)="removeProduct(product[0].cardTitle)">Remove</button>
        </li>
    </ul>
    <hr><br>
</div>
<div>
    <p>Cart total: {{ cartTotal }} EUR</p>
    <p>Shipping: {{ products.length * 7.25 }} EUR</p>
    <p>Total: {{ cartTotal + products.length * 7.25 }} EUR</p>
    <button>Go to checkout</button>
</div>